<div ng-controller="ListCTL">
    <form id="searchForm">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Properties Report</h3>
            </div>
            <div class="panel-body">
                <a href="" ng-click="getProps(0)">this week</a> /
                <a href="" ng-click="getProps(1)">before</a> /
                <a href="" ng-click="getProps(2)">2 week ago</a> /
                <a href="" ng-click="getProps(3)">3 week ago</a> /
                <a href="" ng-click="getProps(4)">4 week ago</a> /
                <a href="" ng-click="getProps(5)">5 week ago</a> /
                <a href="" ng-click="getProps(6)">6 week ago</a> /
                <a href="" ng-click="getProps(7)">7 week ago</a> /
                <a href="" ng-click="getProps(8)">8 week ago</a>
            </div>
        </div>
    </form>
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>#</th>
            <th>Details</th>
            <th>Requirement</th>
            <th>Size</th>
            <th>Sell</th>
            <th>Rent</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="prop in props">
            <td>{{prop.property_type_code + prop.id}}</td>
            <td>
                <div><strong>Developer</strong>: <span>{{prop.developer_name}}</span></div>
                <div><strong>Type</strong>: <span>{{prop.property_type_name}}</span></div>
                <div><strong>Bed room</strong>: <span>{{prop.bed_rooms}}</span></div>
                <div><strong>Transfer Status</strong>: <span>{{prop.transfer_status}}</span></div>
            </td>
            <td>{{prop.requirement_type_name}}</td>
            <td>{{prop.size}} {{prop.size_unit_name}}</td>
            <td>${{prop.selling_price}}</td>
            <td>${{prop.rental_price}}</td>
            <td>{{prop.status}} {{prop.status}}</td>
        </tr>
        </tbody>
    </table>
</div>