.footerMenu {
        background-image: url(../images/1.jpg);
    }
    .footerMenu2 {
        background-image: url(../images/2.jpg);
    }
    .block1 {
        margin-top: 50px;

    }

    .block1 ul li{
        font-family: roboto ;
        list-style-type: none;
        color: #FFFFFF;
        font-size: 11px;
    }

    .block1 ul li a{
        color: #FFFFFF;
    }
    .block2 {
        margin-top: 50px;
    }

    .block2 ul li{
        font-family: roboto;
        list-style-type: none;
        color: #FFFFFF;
        font-size: 11px;

    }
    .block2 ul li a{
        color: #FFFFFF;
    }
    .block3 {
        margin-top: 50px;
    }

    .block3 ul li{
        font-family: roboto;
        list-style-type: none;
        color: #FFFFFF;
        font-size: 11px;
    }
    .block3 ul li a{
        color: #FFFFFF;
    }

    .block4 img{
        width: 220px;
    }

    .copyright{
    }
    .copyright ul{
        font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
        margin-left: 10px;
        font-size: 10px;


    }
    .block5{
        margin-top: -30px;
        margin-left: -10px;
    }
