<form class="form" ng-controller="AddCTL" ng-submit="addSubmit()">
    <fieldset ng-disabled="isSaving">
      <div class="row">
        <div class="col-md-4 form-group">
          <label>Property Type</label>
          <select class="form-control"
          ng-model="form.property_type_id"
          ng-options="item.id as item.name for item in collection.property_type"
          required>
              <option value="">Please select</option>
          </select>
        </div>
        <div class="col-md-4 form-group">
          <label>Project</label>
          <select class="form-control"
          ng-model="form.project_id"
          ng-options="item.id as item.name for item in collection.project"
          >
              <option value="">Please select</option>
          </select>
        </div>
        <div class="col-md-4 form-group">
          <label>Project</label>
          <select class="form-control"
          ng-model="form.project_id"
          ng-options="item.id as item.name for item in collection.project"
          >
              <option value="">Please select</option>
          </select>
        </div>
        <div class="col-md-4 form-group">
          <label>Project</label>
          <select class="form-control"
          ng-model="form.project_id"
          ng-options="item.id as item.name for item in collection.project"
          >
              <option value="">Please select</option>
          </select>
        </div>
        <div class="col-md-4 form-group">
          <label>Project</label>
          <select class="form-control"
          ng-model="form.project_id"
          ng-options="item.id as item.name for item in collection.project"
          >
              <option value="">Please select</option>
          </select>
        </div>
    </fieldset>
</form>
