<form class="form-horizontal" ng-controller="AddCTL" ng-submit="addSubmit()">
    <fieldset ng-disabled="isSaving">
        <div class="form-group">
            <label class="control-label col-sm-3">Property Type</label>
            <div class="col-sm-9">
                <select name="property_type"
                    ng-options="item.id as item.name for item in collection.property_type.data"
                    ng-model="form.property_type_id"
                    required="">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Bed rooms</label>
            <div class="col-sm-9">
                <select name="bed_rooms" ng-model="form.bed_rooms">
                    <option value="Studio" selected>Studio</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Selling Price</label>
            <div class="col-sm-9">
                <input name="selling_price" ng-model="form.selling_price">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Zone</label>
            <div class="col-sm-9">
                <select name="zone"
                        ng-options="item.id as item.name for item in collection.zone_group.data"
                        ng-model="form.zone_group_id"
                        required="">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Duplex</label>
            <div class="col-sm-9">
                <select name="duplex"
                        ng-model="form.duplex"
                        required="">
                    <option value="Duplex" selected>Duplex</option>
                    <option value="Non-Deplex">Non-Deplex</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Road</label>
            <div class="col-sm-9">
                <input type="text" ng-model="form.road">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Status</label>
            <div class="col-sm-9">
                <select name="status" ng-model="form.status" required="">
                    <option value="Available" selected>Available</option>
                    <option value="Non-Available">Non-Available</option>
                    <option value="Prebook">Prebook</option>
                    <option value="Sold">Sold</option>
                    <option value="Rented">Rented</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Rented Expire</label>
            <div class="col-sm-9">
                <input type="text" class="rented_expire" name="rented_expire" ng-model="form.rented_expire">
                <!--<select >-->
                    <!--<option selected>30-60 days</option>-->
                    <!--<option>< 30 days</option>-->
                    <!--<option>Expired</option>-->
                <!--</select>-->
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3">Transfer Status</label>
            <div class="col-sm-9">
                <select name="transfer_status" ng-model="form.transfer_status">
                    <option selected>Booking-Form</option>
                    <option>Right</option>
                    <option>Ownership</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Requirement Type</label>
            <div class="col-sm-9">
                <select name="requirement_type"
                    ng-model="form.requirement_type_id"
                    ng-init="form.requirement_type = collection.requirement_type.data[0]"
                    ng-options="item.id as item.name for item in collection.requirement_type.data" required="">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Developer</label>
            <div class="col-sm-9">
                <select name="project" ng-model="form.developer_id" required=""
                    ng-options="item.id as item.name for item in collection.developer.data">
                </select>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-3">Size</label>
            <div class="col-sm-9">
                <input class="" ng-model="form.size" size="4">
                <select name="size_unit" ng-model="form.size_unit_id"
                    ng-options="item.id as item.name for item in collection.size_unit.data">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Rental Price</label>
            <div class="col-sm-9">
                <input ng-model="form.rental_price" size="4">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Web Status</label>
            <div class="col-sm-9">
                <select name="web_status" ng-model="form.web_status">
                    <option selected>Offline</option>
                    <option>Online</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Inc 7% vat</label>
            <div class="col-sm-9">
                <input type="checkbox" ng-model="form.inc_vat">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-3">Address No</label>
            <div class="col-sm-9">
                <input type="text" ng-model="form.address_no">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-3">Unit No</label>
            <div class="col-sm-9">
                <input type="text" ng-model="form.unit_no">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-3">Property Highlight</label>
            <div class="col-sm-9">
                <select name="property_highlight" ng-model="form.property_highlight">
                    <option selected>Sale at Lost and Plus</option>
                    <option>Sale at Cost</option>
                    <option>Sale under market price</option>
                    <option>made over already</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Feature Unit</label>
            <div class="col-sm-9">
                <select name="feature_unit" ng-model="form.feature_unit">
                    <option selected>Best Buy</option>
                    <option>Hot Rental</option>
                    <option>With Tanant</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3">Images</label>
            <div class="col-sm-9">
                <input type="file" multiple onchange="angular.element(this).scope().parseImagesInput(this);"
                        accept="image/*">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-3"></label>
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a class="btn btn-warning" href="#/">Cancel</a>
            </div>
        </div>

    </fieldset>
</form>